.sign-up-container{
  display: flex;
  flex-direction: column;
  width: 380px;
  span {
    color: #DEBA24;
  }
}

h2{
  margin: 10px 0;
  color: #DEBA24;
}

.buttons-container {
  display: flex;
  justify-content: space-between ;
}